In [11]:
1-->
num = int(input("enter number: "))
factorial = 1

for i in range(1,num+1):
  factorial = factorial * i
print(factorial)

enter number: 5
120

In [18]:
2-->

num = 5

for i in range(1,11):
  print(f'{num} x {i} = {num*i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [20]:
3-->

def Fibonacci(n):   
    if n < 0:
        print("Incorrect input")
    elif n == 0:
      return 0
    elif n == 1 or n == 2:
      return 1
    else:
      return Fibonacci(n-1) + Fibonacci(n-2)
print(Fibonacci(9))

34

In [28]:
4-->

number = 153
temp = number
sum = 0
order = len(str(number))
while temp>0:
  digits = temp %10
  sum += digits**order
  temp = temp //10
if sum == number:
  print(f'{number} is armstrong')
else:
  print(f'{number} is not armstrong')

153 is armstrong

In [25]:
5-->

start = 300
end = 1000

for num in range(start,end+1):
  order = len(str(num))
  temp = num
  sum = 0
  while temp >0:
    digits = temp % 10
    sum += digits ** order
    temp = temp //10
  if sum == num:
    print(num)

370
371
407

In [31]:
6-->

num = 10
natural_nums = num*(num+1)/2
print(natural_nums)

55.0